
span{
        font-size: small;
    color:blueviolet;
}
button{
    padding:16px;
    font-size:48px;
    font-family:"HGP創英角ポップ体";
    font-weight:bold;
    background: linear-gradient(
      90deg,
      red,
      orange,
      yellow,
      green,
      cyan,
      blue,
      purple
    );
  }
#monsterImage, #monsterImage2{
    width:300px;
    position:absolute;
    transition:0.2s;
}
  @keyframes biribiri{
  0% { transform: translateX(0px); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0px); }
}
@keyframes explode{
    0%{
        transform:scale(1) rotate(0deg);
        opacity:1;
    }
    100%{
        transform:scale(10) rotate(720deg);
        opacity:0;
    }
}

.buttons{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.button-box{
  display:flex;
  flex-direction:column;
  align-items:center;
}